 <nav class="navbar navbar-light bg-primary">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="/imgs/logo.png" height="50px">
            </a>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link nav-item btn btn-success" href="/pergunta" style="padding: 10px 20px; color: white;">
                        Perguntar
                    </a>
                </li>    
            </ul>
        </div>
</nav>