<%- include('partials/header.ejs'); %>
<body>
    <%- include('partials/navbar.ejs'); %>
    <div class="container">
        <div class="card" id="formulario-pergunta">
            <div class="card-header">
                <h3>Realizar Pergunta</h3>
            </div>
            <div class="card-body">
                <form method="POST" action="/salvarpergunta"> <!– GET dados são enviados atráves de query params–>
                    <label>Título</label>
                    <input type="text" placeholder="Título" class="form-control" name="titulo">
                    <br>
                    <label>Descricão</label>
                    <textarea placeholder="Digite aqui sua pergunta" class="form-control" name="descricao"></textarea>
                    <br>
                    <button class="btn btn-primary">Enviar Pergunta</button>
                </form>
            </div>
        </div>        
    </div>    
</body>
<%- include('partials/footer.ejs'); %>
